.formWrap {
	margin: 20px;
	width: 550px;
	text-align: center;
}

.button {
	display: block;
	margin: 0 auto;
	width: 400px;
}

.betweenFlex{
	display: flex;
	justify-content: space-between;
}

.calcWarp {
	min-width: 600px;
	max-width: 1100px;
}

.mr{
	margin-right: 10px;
}
